.OptionsContainer {
  width: 100%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.OptionsContainer div {
  margin-bottom: 5px;
}

#crCleanBookList {
  margin-bottom: 15px;
  position: relative;
  float: left;
}
.crBook {
  width: 100px;
  height: 150px;
  margin: 2px;
  position: relative;
  float: left;
  align-content: center;
}

.crBook .remove {
  position: absolute;
  background-color: rgb(199, 92, 92);
  opacity: 0.7;
  font-weight: bold;
  border: none;
  border-radius: 0 0 15px 0;
  height: 25px;
  width: 30px;
}

.crBook .remove:hover {
  opacity: 1;
  height: 30px;
  width: 35px;
  cursor: pointer;
}

.cleanReadsSettings {
  width: 100%;
}

.crTermsContainer input {
  width: auto;
  margin: 0;
}
.crTermsContainer input[name=excludeBefore], .crTermsContainer input[name=excludeAfter] {
  font-weight: 600;
  font-style: italic;
}

.crTermsContainer input:hover {
  opacity: 1.0;
}

.crTermsContainer input[name=term] {
  height: 1.5em;
  font-weight: bold;
  text-align: center;
}

.cr-button {
  border-radius: 3px;
  border: 1px solid #D6D0C4;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #333333;
  background-color: #F4F1EA;
  line-height: 1;
  padding: 8px 12px;
  margin-right: 5px;
}

.cr-button:disabled {
  opacity: 0.5;
  cursor: default;
}

input[type=text], input[type=number], input[type=search], input[type=email], input[type=number], input[type=password], textarea {
  background: #FFFFFF;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  color: #333333;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  resize: none;
  padding: 5px;
  margin-right: 5px;
}