#cleanReadsRating {
	margin-bottom: 15px;
}
#cleanReadsRating .progress-pie-color {
	margin: 15px 0 10px 0;
}
#cleanReadsRating .js-plotly-plot .svg-container {
  left: 50%;
  transform: translateX(-50%);
}
.contentComment { padding: 5px; }
.contentClean { color: #3F8363; }
.contentNotClean { color: #d54a23; }
.contentUnknown { color: blue; }
